* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix:after {
	content: ' ';
	display: block;
	width: 100%;
	clear: both;
} 
@font-face {
  font-family: "WorkSans Regular";
  src: url(fonts/WorkSans-Regular.otf);
}
@font-face {
  font-family: "Myriad Pro";
  src: url(fonts/myriadpro-light.otf);
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: bold;
  src: url(fonts/myriadpro-bold.otf);
}
@font-face {
  font-family: "WorkSans Bold";
  font-weight: bold;
  src: url(fonts/WorkSans-Bold.otf);
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1150px;
	margin: 0px auto;
}

.container h2 {
	color: #233148;
	font-size: 30px;
	line-height: 60px;
	font-family: "Myriad Pro", sans-serif;
}
#hero {
	height: 1000px;
	padding-top: 48px;
	background-color: #0fd5ef;
	background-image: url(images/wave.png), url(images/smartphone.png), url(images/bg.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: 100%, auto, cover;
	background-position: center bottom, center bottom -77px, center bottom;
}
header {
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
}
header img {
	display: inline-block;
}
header ul li {
	display: inline-block;
}
header ul li a {
	font-size: 16px;
	color: white;
	padding: 0px 30px;
	font-family: "Myriad Pro", sans-serif;
	font-weight: bold;
}
header ul li a:last-child {
	padding-right: 0px;
}
#hero h1 {
	width: 575px;
	text-align: center;
	font-size: 45px;
	line-height: 60px;
	font-weight: bold;
	font-family: "WorkSans Bold", sans-serif;
	color: white;
    margin: 134px auto 0px auto;
}
#hero h2 {
	width: 575px;
	text-align: center;
	font-size: 15px;
	line-height: 27px;
	font-family: "Myriad Pro", sans-serif;
	color: white;
    margin: 0px auto;
    margin-top: 15px;
    font-weight: normal;
}
#hero #actions a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	padding: 0px 32px;
	font-size: 14px;
	font-family: "WorkSans Bold", sans-serif;
	color: #233148;
	margin-left: 13px;
	margin-right: 13px;
}
#hero #actions {
	text-align: center;
	margin-top: 41px;
}
#hero #actions a:first-child {
	background-color: white;
}
#hero #actions a:nth-child(2){
	border: 1px solid white;
	color: white;
}

/** features **/

#features {
	background-color: #fafafc;
	height: 1095px;
}
#features .container {
	display: flex;
	justify-content: space-between;
}

#features #phone-image > img {
	margin-top: 290px;
	margin-left: 110px;
}

#feature-list {
	position: relative;
}
#feature-list div {
	position: absolute;
	background-color: white;
	width: 270px;
	height: 320px;
	border-radius: 5px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	margin-bottom: 20px;
	padding: 60px 30px 34px 30px;
}
#feature-list div:nth-child(1){
	right: 370px;
	top: 117px;
}
#feature-list div:nth-child(2){
	right: 38px;
	top: 213px;
}
#feature-list div:nth-child(3){
	right: 437px;
	top: 511px;
}
#feature-list div:nth-child(4){
	right: 87px;
	top: 635px;
}

#feature-list div img {
    margin: 0px auto;
    display: block;
}
#feature-list div h3 {
	text-align: center;
	font-size: 14px;
	line-height: 27px;
	color: #233148;
	margin-top: 29px;
	margin-bottom: 16px;
}
#feature-list div p {
	text-align: center;
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
}

/** stable **/
#stable {
	padding-top: 83px;
	padding-bottom: 103px;
	display: flex;
	justify-content: space-between;
	height: 625px;
}

#stable > div {
	width: 470px;
}
#stable > ul {
	width: 570px;
}
#stable > div > h2 {
	margin-top: 48px;
	text-align: right;
}
#stable > div > p {
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
	text-align: right;
	margin-top: 31px;
	margin-bottom: 53px;
	font-family: "Myriad Pro", sans-serif;
}
#stable > div > div {
	text-align: right;
}
#stable > div > div > a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: white;
	background-color: #33d2fd;
	padding: 0px 44px;
	border-radius: 5px;
	font-size: 15px;
	font-family: "WorkSans Bold", sans-serif;
}

#stable ul li p {
	display: none;
	padding-left: 80px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 27px;
	color: white;
	font-family: "WorkSans Bold", sans-serif;
}

#stable li {
	margin-bottom: 20px;
	box-shadow: 0px 6px 9px rgba(35, 39, 47, 0.1);
	border-radius: 4px;
}
#stable li a {
	line-height: 75px;
	padding-left: 80px;
	font-size: 15px;
	color: #233148;
	font-family: "WorkSans Bold", sans-serif;
	background-repeat: no-repeat;
    display: inline-block;
    height: 75px;
    width: 100%;
    background-position: 26px center;
}
#stable li:nth-child(1) a {
	background-image: url(images/heart.png);
}
#stable li:nth-child(2) a {
	background-position: 34px center;
	background-image: url(images/tag.png);
}
#stable li:nth-child(3) a {
	background-image: url(images/brifcase.png);
}
#stable li:nth-child(4) a {
	background-image: url(images/pencil.png);
}

#stable li:hover {
	background-color: #33d2fd;
	padding-bottom: 26px;
}
#stable li:hover p {
	display: block;
}

/** Everything **/
#everything{
	background-color: #fafafc;
	height: 476px;	
	
}
#everything .container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 75px;
}
#everything .container img{
	margin-top: 72px;
	margin-left: 19px;
}
#everything .container div{
	margin-left: 85px;
	margin-top: 80px;
}
#everything .container div h2{
	font-size: 30px;
	line-height: 60px;
	font-family: "WorkSans Bold", sans-serif;
	color: #233148;
}
#everything .container div ul li a{
	background-image: url(images/check.png);
	display: block;
	background-repeat: no-repeat;
	background-position: 0px; 
	padding-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	line-height: 27px;
	font-family: "WorkSans Regular", sans-serif;
	color: #233148;
}
#everything .container div p{
	margin-top: 45px;
	font-size: 14px;
	line-height: 27px;
	color: #6a6d89;
}

/** Available **/
#available{
	height: 762px;
	background-image: url(images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	position: relative;
}

#available .container {
	display: flex;
	justify-content: space-between;	
}
#available .container > img{
	display: block;
	margin-left: 180px;
	margin-top: 110px;
}
#available .container > div{
	width: 615px;
	text-align: left;
}
#available .container > div > h2{
	margin-top: 260px;
    margin-bottom: 14px;
    margin-left: 160px;
}
#available .container > div > p{
	margin-left: 160px;
	font-size: 14px;
	line-height: 27px;
	font-family: "WorkSans Regular", sans-serif;
	color: white;
}
#available .container > div >ul{
	margin-left: 160px;
}
#available .container > div >ul>li{
	display: inline-block;
	margin-top: 23px;
	margin-right: 20px;
}
#available .container > a{
	position: absolute;
    display: block;
    font-size: 20px;
    line-height: 70px;
    color: #ffffff;
    height: 70px;
    font-family: "WorkSans Bold", sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #f6387d,#fe7570 );
    padding: 0px 80px;
    box-shadow: 0px 11px 29px rgba(255,7,95,0.2);
    bottom: -35px;
    left: calc(50% - 181px);
}

/** Links **/
#links {
	height: 300px;
	margin-top: 145px;
	display: flex;
	justify-content: space-around;
}
#links > div {	
	position: relative;
}
#links > div > ul{
	position: absolute;
	top: 12%;
	left: 0px;
}
#links > div > ul > li{
	margin-top: 10px;
	width: 150px;	
}
#links > div > ul > li >a{
	color: #233148;
	font-family: "WorkSans Regular", sans-serif;
}
#links > div > h3{
	font-size: 15px;
	line-height: 27px;
	font-family: "WorkSans Bold", sans-serif;
	color: #233148;
}
/** get-in-touch **/
#get-in-touch{
	height: 356px;
	text-align: center;
}
#get-in-touch > h2{
	font-size: 30px;
	line-height: 60px;
	color: #233148;	
}
#get-in-touch > p{	
	font-size: 14px;
	line-height: 27px;
	font-family: "WorkSans Regular", sans-serif;
}
#get-in-touch > form{
	margin-top: 70px;	
}
#get-in-touch > form > input{
	background-color:  #f6f7fb;
	display: inline-block;
	height: 50px;
	width: 570px;
	border: none;
	margin-right: 35px;
	padding: 25px;
	font-size: 20px;
}
#get-in-touch > form > button{
	background-color: #33d2fd;
    font-size: 15px;
    line-height: 50px;
    height: 50px;
    color: #233148;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    font-family: "work sans semibold", sans-serif;
    padding: 0px 40px;
}
/** Footer **/
footer{	
	height: 100px;
	background-color: #233148;

}
footer .container{
	display: flex;
	justify-content: space-between;
}
footer .container >p{
	font-size: 14px;
	line-height: 100px;
	color: white;
	font-family: "WorkSans Regular",sans-serif;
}
footer img{
	transform: translate(0%,50%);
}
footer .container > ul > li{
	display: inline-block;
	padding: 30px;
}

/** Responsive **/

	/** Tren 1150px **/
@media screen and (max-width: 1200px){
	
	.container{
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

}
	/** Tu 960px den 1150px **/
@media screen and (max-width: 960px){

}
	/** Tu 768px den 960px **/
@media screen and (max-width: 768px){

}
	/** Tu 500px den 768px **/
@media screen and (max-width: 500px){

}